@charset 'UTF-8';

#wrap {
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    section {
        position: relative;
        min-height: 100vh;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7.4074vw;
    }
    .contents{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 7.4074vw 0;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 3.7037vw;
        font-weight: 700;
        width: 100%;
        background-color: #fff;
        color: #000;
        -webkit-mix-blend-mode: screen;
        -moz-mix-blend-mode: screen;
        mix-blend-mode: screen;
        padding: 2.7778vw 0;
    }

    h4{
        font-size: 2.7778vw;
        font-weight: 500;
    }

    #main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            min-width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    #projects{
        .contents{
            flex-direction: column;
            gap: 3.7037vw;
            .descript-area{
                width: 100%;
                .box-desc { 
                    display: none;
                    padding: 40px 60px;
                    background-color: #f8f8f8;
                    ul{
                        li{
                            padding: 1.8519vw 0;
                            & + li{border-top: 1px solid #eee;}
                            strong{
                                display: block;
                                font-size:1.8519vw;
                                font-weight: 500;
                                color: #333;
                                margin-bottom: 0.7407vw;
                            }
                            p {
                                font-size: 1.7963vw;
                                color: #666;
                                line-height: 1.7;
                            }
                        }
                    }
                }
            }
        }
    }

}


$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;


.credit {
    position: absolute;
    bottom:1.8519vw;
    left:1.8519vw;
    color:inherit;
}
.options {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    overflow:hidden;

    min-width:55.5556vw;
    max-width:100%;
    width:calc(100% - 9.2593vw);
    
    height:37.037vw;
    
    @for $i from 1 through 4 {
        @media screen and (max-width:(73.8889vw - $i*80)) {
            min-width:55.5556vw - $i*80;
            .option:nth-child(#{6-$i}) {
                display:none;
            }
        }
    }
    
    .option {
        position: relative;
        overflow:hidden;

        min-width:5.5556vw;
        margin:0.9259vw;

        background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
        background-size:auto 120%;
        background-position:center;

        cursor: pointer;

        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

        @for $i from 1 through length($optionDefaultColours) {
        &:nth-child(#{$i}) {
            --defaultBackground:#{nth($optionDefaultColours, $i)};
        }
        }
        &.active {
        flex-grow:10000;
        transform:scale(1);
        
        max-width:55.5556vw;
        margin:0vw;
        border-radius:3.7037vw;
        
        background-size:auto 100%;
        .shadow {
            box-shadow:inset 0 -11.1111vw 11.1111vw -11.1111vw black, inset 0 -11.1111vw 11.1111vw -9.2593vw black;
        }
        .label {
            bottom:1.8519vw;
            left:1.8519vw;
            .info >div {
                left:0vw;
                opacity:1;
            }
        }
        /*&:active {
            transform:scale(0.9);
        }*/
        }
        &:not(.active) {
        flex-grow:1;
        
        border-radius:2.7778vw;
        .shadow {
            bottom:-3.7037vw;
            box-shadow:inset 0 -11.1111vw 0vw -11.1111vw black, inset 0 -11.1111vw 0vw -9.2593vw black;
        }
        .label {
            bottom:0.9259vw;
            left:0.9259vw;
            .info >div {
                left:1.8519vw;
                opacity:0;
            }
        }
        }
        .shadow {
        position: absolute;
        bottom:0vw;
        left:0vw;
        right:0vw;
        
        height:11.1111vw;
        
        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        }
        .label {
        display:flex;
        position: absolute;
        right:0vw;

        height:3.7037vw;
        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .icon {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            
            min-width:3.7037vw;
            max-width:3.7037vw;
            height:3.7037vw;
            border-radius:100%;

            background-color:white;
            color:var(--defaultBackground);
        }
        .info {
            display:flex;
            flex-direction:column;
            justify-content:center;
            
            margin-left:0.9259vw;
            
            color:white;
            
            white-space: pre;
            >div {
                position: relative;
                
                transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
            }
            .main {
                font-weight:bold;
                font-size:1.8519vw;
                color: #fff;
                margin-bottom: 0.7407vw;
            }
            .sub {
                color: #fff;
                transition-delay:.1s;
            }
        }
        }
    }
}

.progress {
    width: 100%;
    height: 50px;
}
.progress-wrap {
    background: #C4E58E;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    .progress-bar {
        background: #B2D8D8;
        left: 0;
        position: absolute;
        top: 0;
    }
}