@charset 'UTF-8';

#wrap {
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    section {
        position: relative;
        min-height: 100vh;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7.4074vw;
        font-size: 1.4815vw;
    }
    .contents{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 7.4074vw 0;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 3.7037vw;
        font-weight: 700;
        width: 100%;
        background-color: rgba(255,255,255,0.8);
        color: #000;
        mix-blend-mode: screen;
        backface-visibility: visible;
        transform: translate3d(0,-50%,0);
        padding: 4.7778vw 0;
    }

    h4{
        font-size: 2.7778vw;
        font-weight: 500;
    }

    #main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            min-width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    #projects{
        min-height: auto;
        .contents{
            gap: 3.7037vw;
            padding-bottom: 0;
            .descript-area{
                width: 100%;
                .box-desc { 
                    display: none;
                    padding: 40px 60px;
                    background-color: #f8f8f8;
                    ul{
                        li{
                            padding: 1.8519vw 0;
                            & + li{border-top: 1px solid #eee;}
                            strong{
                                display: block;
                                font-size:1.8519vw;
                                font-weight: 500;
                                color: #333;
                                margin-bottom: 0.7407vw;
                            }
                            p {
                                font-size: 1.7963vw;
                                color: #666;
                                line-height: 1.7;
                            }
                        }
                    }
                }
            }
        }
    }

    #plan {
        background: #C9D6FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f8f8f8, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #f8f8f8, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
        .contents{
            height: 100vh;
        }
        .bg-svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .waves {
            position:relative;
            width: 100%;
            height:15vh;
            margin-bottom:-7px;
            min-height:100px;
            max-height:150px;
        }
        /* Animation */

        .parallax > use {
            animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
        }
        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }
        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }
        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }
        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
        @keyframes move-forever {
                    0% {
                    transform: translate3d(-90px,0,0);
                    }
                    100% { 
                    transform: translate3d(85px,0,0);
                    }
        }
        @media (max-width: 768px) {
            .waves {
            height:40px;
            min-height:40px;
            }
            .content {
            height:30vh;
            }
            h1 {
            font-size:24px;
            }
        }
    }

}


$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;


.credit {
    position: absolute;
    bottom:1.8519vw;
    left:1.8519vw;
    color:inherit;
}
.options {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    overflow:hidden;

    min-width:55.5556vw;
    max-width:100%;
    width:calc(100% - 9.2593vw);
    
    height:37.037vw;
    
    @for $i from 1 through 4 {
        @media screen and (max-width:(73.8889vw - $i*80)) {
            min-width:55.5556vw - $i*80;
            .option:nth-child(#{6-$i}) {
                display:none;
            }
        }
    }
    
    .option {
        position: relative;
        overflow:hidden;

        min-width:5.5556vw;
        margin:0.9259vw;

        background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
        background-size:auto 120%;
        background-position:center;

        cursor: pointer;

        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

        @for $i from 1 through length($optionDefaultColours) {
        &:nth-child(#{$i}) {
            --defaultBackground:#{nth($optionDefaultColours, $i)};
        }
        }
        &.active {
        flex-grow:10000;
        transform:scale(1);
        
        max-width:55.5556vw;
        margin:0vw;
        border-radius:3.7037vw;
        
        background-size:auto 100%;
        .shadow {
            box-shadow:inset 0 -11.1111vw 11.1111vw -11.1111vw black, inset 0 -11.1111vw 11.1111vw -9.2593vw black;
        }
        .label {
            bottom:1.8519vw;
            left:1.8519vw;
            .info >div {
                left:0vw;
                opacity:1;
            }
        }
        /*&:active {
            transform:scale(0.9);
        }*/
        }
        &:not(.active) {
        flex-grow:1;
        
        border-radius:2.7778vw;
        .shadow {
            bottom:-3.7037vw;
            box-shadow:inset 0 -11.1111vw 0vw -11.1111vw black, inset 0 -11.1111vw 0vw -9.2593vw black;
        }
        .label {
            bottom:0.9259vw;
            left:0.9259vw;
            .info >div {
                left:1.8519vw;
                opacity:0;
            }
        }
        }
        .shadow {
        position: absolute;
        bottom:0vw;
        left:0vw;
        right:0vw;
        
        height:11.1111vw;
        
        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        }
        .label {
        display:flex;
        position: absolute;
        right:0vw;

        height:3.7037vw;
        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .icon {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            
            min-width:3.7037vw;
            max-width:3.7037vw;
            height:3.7037vw;
            border-radius:100%;

            background-color:white;
            color:var(--defaultBackground);
            i{font-size: 1.9519vw;}
        }
        .info {
            display:flex;
            flex-direction:column;
            justify-content:center;
            
            margin-left:0.9259vw;
            
            color:white;
            
            white-space: pre;
            >div {
                position: relative;
                
                transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
            }
            .main {
                font-weight:bold;
                font-size:1.8519vw;
                color: #fff;
                margin-bottom: 0.7407vw;
            }
            .sub {
                color: #fff;
                transition-delay:.1s;
                font-size: 1.3519vw;
            }
        }
        }
    }
}

.progress {
    width: 100%;
    height: 50px;
}
.progress-wrap {
    background: #C4E58E;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    .progress-bar {
        background: #B2D8D8;
        left: 0;
        position: absolute;
        top: 0;
    }
}